body{
    /*font-family: 'URW Gothic L', sans-serif;*/
    font-size: 18px;
}

#Background{
    background-image: url('../images/notebook-backg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    margin: 0px !important;

    /*font-family: 'Blippo', fantasy;*/
    color: #ff9900;
    font-size: 20px;
}

.bg-primary{
    background-color: rgb(255, 255, 255) !important;
}

.bg-secondary{
    background-image: url('../images/paisagem_bk2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    margin: 0px !important;

    /*font-family: 'Blippo', fantasy;*/
    color: #ffffff;
    font-size: 20px;
}

#appimagem{
    height: 200px;
    width: auto;
    margin: 20px 10px;
}

#statsimagem{
    height: 50px;
    width: auto;
    margin: 20px 10px;
}

.btn{
    box-shadow: 0 2px 0 #bdc1f7;
}

.btn-default{
    background-color: #727272;
}

.btn-default:hover{
    background-color: #797979;
}

.btn-sucess{
    box-shadow: 0 2px 0 rgb(0, 0, 0);
    background-color: #ffa6008c;
    font-weight: bold;
}

.patners img{
    height: 60px;
    width: auto;
    margin: 15px 10px;
}

.bg-tertiary{
    background-image: url('../images/iphone-676726_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    margin: 0px !important;

    /*font-family: 'Blippo', fantasy;*/
    color: #ffffff;
    font-size: 20px;
}

.bg-quaternary{
    background-image: url('../images/backgr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    margin: 0px !important;

    /*font-family: 'Blippo', fantasy;*/
    color: #ffffff;
    /*font-style: oblique;*/
    font-size: 20px;
}

.btn-dark{
    box-shadow: 0 1px rgb(245, 241, 241);
    border: 5;
    border-radius: 3em;
    background: rgba(196, 201, 204, 0.8);
}
.btn-dark:hover{
    background-color: rgb(126, 127, 128);
}

.btn-white{
    box-shadow: 0 1px rgb(0, 0, 0);
    border: 5;
    background: rgb(255, 255, 255);
}

#footer{
    font-family: 'Blippo', fantasy;
    text-emphasis-color: white;
    color: #ffffff;
}
